<%- include("partials/header") %>

<body class="info-body">
    <div class="info-content">
        <a href="/" class="pp-magfame"><h1>Mag Fame</h1></a>
        <p>Mag Fame is an application that allows you to take your instagram photos and put them on the front cover.</p>
        <p>After you sign in you will be able to customize your magazine cover with custom titles, colors, and more.</p>
        <p>All data that is collected will be deleted after you download your image.</p>
        <p>Mag Fame will never save any of the information provided by the user.</p>
    </div>
</body>
<%- include("partials/footer") %>