<%- include("partials/header") %>

<body class="pp-document">
    <div>
       
        <div class="navbar">
            <div class="home-info">
                <a href="/info-popup" target="popup" class="link" onclick="window.open('/info-popup', 'popup', 'width=600,height=600,scrollbars=no,resizable=no')"> <i class="fa-solid fa-circle-info"></i> </a>
            </div>

            <div class="home-titles">
                <h1>Mag-Fame</h1>
            </div>
            <div>
                <a target="_blank" href="https://www.jashanrahal.com/about.html" class="author"> <i class="fa-solid fa-address-card"></i> </a>
            </div>
        </div>

    </div>
    <hr class="line">


    <h1 class="pp-title">Privacy Policy </h1>

    <div class="pp-content">
        <p> Mag Fame uses the Instagram Basic Display Web API to get data from your Instagram profile.</p>

        <p>None of the account data used by Mag Fame is stored or collected, and it is not shared with any third parties. 
            The information is only used on your personal device to generate your Mag Fame magazine.</p>

        <p>If at any point you wish to remove Mag Fame's permissions to generate your graphic on Instagram, you can do so <a target="_blank" href="https://help.instagram.com/588549329146493">here</a>.

        For any questions, please <a href="https://jashanrahal.com/contact.html">contact us.</a></p>

    </div>
</body>



<%- include("partials/footer") %>