.success{
    background-color: black;
    /* font-family: 'Kanit', sans-serif; */
    font-family: 'Bodoni Moda', serif;
}

.user-img{
    float: left;
    margin-top: 2%;
    position: relative;
    margin-right: 13%;
    border-style: solid;
    border-color: red;
    border-width: thick;
}

.final-title{
    
    color: white;
   
}

#image{
    width: 450px;
    height: 550px;
    
   
}

.image-config{
    text-align: center;
    color: white;
    margin-top: 2%;
    
}

.img-selectors{
    color: white;
    float: right;
    margin-top: 2%;
    margin-right: 8%;
}



.selector{
    text-align: center;
    /* margin-left: 5%; */
    float: left;
    
   
}

#carousel_selector{
    
    display: visible;
}


.a-tags{
    color:white;
}

.a-tags:hover{
    color: red;
}


#img-text{
    position: absolute; 
    text-align: center;
    top: 5px; 
    left: 0; 
    width: 100%; 
    color: black;
    font-size: 530%;
}




#username{
    position: absolute; 
    color: black;
    bottom: 0;
    font-size: 530%;
    width: 50%; 
    left: 5px;
    font-size: 150%;
    font-weight: bolder;
    
}


.center{
    text-align: center;
    margin-top: 3%;
}

.config-title{

    margin-top: 30%;

}

.color-btns{
    margin-top:5%;
}




.createImage{

    margin-top: 45%;
    text-align: left;
    margin-left: 20%;
    
}



.container#blur.active{
    filter:blur(40px);
    /* filter: brightness(0); */
    pointer-events: none;
    user-select: none;
    z-index: 900;

}

#popup-final{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    padding: 40px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #D9D9D9;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup-final.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    z-index: 950;
}



#final-user-image{
    width: 450px;
    height: 550px;

}



.final-content{
    text-align: center;
    margin-top: 5%;
}

.final-buttons{
    text-align: center;
    display: inline-block;
  
}
