.success{
    background-color: black;
    font-family: 'Kanit', sans-serif;
}

.user-img{
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    position: relative;
}

#image{
    width: 500px;
    height: 600px;
   
}

.image-config{
    text-align: center;
    color: white;
    margin-top: 2%;
    
}

.img-selectors{
    color: white;
    float: right;
    margin-top: 2%;
    margin-right: 8%;
}



.selector{
    margin-left: 5%;
    float: left;
   
}

#carousel_selector{
    display: visible;
}


.a-tags{
    color:white;
}

.a-tags:hover{
    color: red;
}


.username{
    color: red;
}



.img-title{
    
    margin-top: 30%;
}

#img-text{
    position: absolute; 
    text-align: center;
    top: 5px; 
    left: 0; 
    width: 100%; 
    color: red;
    font-size: 500%;
}



.logout{
    float: right;
}