.pp-title{
    text-align: center;
    margin-top: 2%;

    color: white;
}

.pp-magfame{
    text-decoration: none;
    color: white;
}

.pp-magfame:hover{
    color: white;
}

.pp-content{
    margin-top: 2%;
    color: white;
    text-align: center;

}

.pp-document{
    background-color: black;
    /* font-family: 'Kanit', sans-serif; */
    font-family: 'Bodoni Moda', serif;
}

/* INFO POPUP */

.info-body{

    background-color: black;
    /* font-family: 'Kanit', sans-serif; */
    font-family: 'Bodoni Moda', serif;
    text-align: center;
}

.info-content{

    color: white;
}


/* INFO POPUP */