.document{
    background-color: black;
    font-family: 'Kanit', sans-serif;
}


/* HOME PAGE */


.titles{
    text-align: center;
    
    color: white;
    display: inline-block;
    margin-top: 0.3%;
    /* font-family: 'GFS Didot', serif; */
}

.home-info{
 
  margin-top: 1.3%;
  float: left;
  margin-right: 42%;
  margin-left: 1%;
}

.link{
  color: white;
}


.main-content{

    text-align: center;
    margin-top: 7%;
 
    /* font-family: 'GFS Didot', serif; */
    

}

.home-img{
    display: inline-block;
    
}

.img-content{
 
  text-align: left;
  margin-left: 23%;
  margin-top: 1%;
}

.line{
    color: red;
    line-height: 5px;
}


.sign-in{

    display: inline-block;
    margin-left: 13%;
    
    color: white;
    font-family: 'Kanit', sans-serif;

}

.sign-in-content{
    text-align: center;
}

.footer{

  text-align: center;
  color: white;
  margin-top: 6%;
}

.checkbox-items{
  margin-left: 2.3%;

}


/* HOME PAGE /*



