.document{
    background-color: black;
    /* font-family: 'Kanit', sans-serif; */
    font-family: 'Bodoni Moda', serif;
}


/* HOME PAGE */


.home-info{
  margin-left: 2%;
  margin-right: 3%;
}
.home-titles{
  color: white;
  /* margin-right: 43%; */
}

.author{
  color: white;
}

.author:hover{
  color:red;

}




.link{
  color: white;
}


.main-content{

    text-align: center;
    margin-top: 7%;
 
    /* font-family: 'GFS Didot', serif; */
    

}

.home-img{
 
    float: left;
    margin-left: 3%;
    
}
/* 
#home-image{


} */

.img-content{
 
  text-align: left;
  margin-left: 23%;
  margin-top: 1%;
}

.line{
    color: red;
    line-height: 5px;
}


.sign-in{

    display: inline-block;
    /* margin-left: 13%; */
    margin-top: 10%;

    color: white;
    font-family: 'Bodoni Moda', serif;
    /* font-family: 'Kanit', sans-serif; */

}

.sign-in-content{
    text-align: center;
}

.footer{

  text-align: center;
  color: white;
  margin-top: 8.5%;
}

.checkbox-items{
  margin-left: 2.3%;

}


/* HOME PAGE /*



